.error {
  background-image: url(https://cdn.hipwallpaper.com/i/60/48/KDT4FR.jpg);
  background-size: cover;
  height: 100vh;
  color: white;
  text-shadow: 2px 2px 2px black;

  &__content {
    padding: 2rem;
  }

  &__subtitle {
    padding: 0.5rem 0;
  }

  p {
    width: 200px;
    line-height: 1.3;
  }
}
